.info {
    margin: 15px;
}

.messages {
    margin: 15px;
    padding: 8px;
    max-height: 95%;
    overflow: auto;
}

.messenger {
    margin-top: 10px;
}

.messenger mat-form-field.mat-form-field {
    width: 80%;
}