<div class="mat-typography app-frame" fxLayout="column" [ngClass]="theme.activeTheme.value.name">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidepanel.toggleState()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-header">Arma Webstack Demo</span>
        <span fxFlex></span>
        <a mat-button href="/home/login" *ngIf="!identity.authenticated">Login</a>
        <a mat-button href="/home/logout" [matTooltip]="identity.user.value.email" *ngIf="identity.authenticated">{{identity.user.value.displayName}} - Logout</a>
        <button mat-icon-button matTooltip="Update Display Name" (click)="updateDisplayName()" *ngIf="identity.authenticated">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Default Sidebar State" [matMenuTriggerFor]="stateMenu" *ngIf="identity.authenticated">
            <mat-icon>view_quilt</mat-icon>
        </button>
        <mat-menu #stateMenu="matMenu">
            <button mat-menu-item *ngFor="let state of sidepanel.states" (click)="identity.setSidepanelPreference(state)">{{state}}</button>
        </mat-menu>
        <button mat-icon-button matTooltip="Default Theme" [matMenuTriggerFor]="themeMenu">
            <mat-icon>color_lens</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu">
            <button mat-menu-item *ngFor="let t of theme.themes" (click)="theme.setTheme(t)">{{t.display}}</button>
        </mat-menu>        
    </mat-toolbar>
    <div class="app-body mat-app-background" fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch">
        <sidepanel></sidepanel>
        <div fxFlex class="app-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>