<mat-toolbar>Overview</mat-toolbar>
<p>
    The purpose of this small project is to demonstrate some of the integrated capabilities that have evolved through building
    this web platform. Some of the key features are as follows:
</p>
<mat-list>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> A fully featured, leading edge platform that is tailored to work both in the cloud, and on the isolated data center</mat-list-item>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> Only requires an IIS server and a SQL server</mat-list-item>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> Integration with Active Directory (Either in Azure, or On-Prem)</mat-list-item>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> mat-list-itemnking user preferences to their Active Directory profile</mat-list-item>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> A robust middleware pipemat-list-itemne on the server for enabmat-list-itemng such extended features</mat-list-item>
    <mat-list-item><mat-icon>keyboard_arrow_right</mat-icon> Fast, responsive, and beautiful interfaces using the power of the latest web technologies</mat-list-item>
</mat-list>
<mat-toolbar color="primary">Technologies</mat-toolbar>
<mat-nav-list>
    <a mat-list-item href="https://docs.asp.net" target="_blank">ASP.NET Core</a>
    <a mat-list-item href="https://docs.microsoft.com/en-us/ef/core/" target="_blank">Entity Framework Core</a>
    <a mat-list-item href="https://angular.io" target="_blank">Angular</a>
    <a mat-list-item href="https://material.angular.io" target="_blank">Angular Material</a>
    <a mat-list-item href="https://webpack.js.org/" target="_blank">Webpack</a>
    <a mat-list-item href="http://reactivex.io/rxjs/" target="_blank">Reactive JavaScript (RxJS)</a>
    <a mat-list-item href="https://github.com/aspnet/JavaScriptServices" target="_blank">ASP.NET JavaScript Services</a>
    <a mat-list-item href="https://nodejs.org" target="_blank">Node.js</a>
    <a mat-list-item href="https://github.com/JaimeStill" target="_blank">Github</a>
    <a mat-list-item href="https://portal.azure.com" target="_blank">Azure Cloud</a>
    <a mat-list-item href="https://code.visualstudio.com" target="_blank">Visual Studio Code</a>
</mat-nav-list>
<mat-toolbar color="primary">Additional Demonstrations</mat-toolbar>
<mat-nav-list>
    <a mat-list-item href="http://material-platform.azurewebsites.net/" target="_blank">Material Platform</a>
    <a mat-list-item href="https://jaimestill.github.io/hosted-code-snippets/" target="_blank">Hosted Code Snippets</a>
    <a mat-list-item href="https://gif-converter.azurewebsites.net/" target="_blank">MP4 to GIF Converter</a>
    <a mat-list-item href="http://observable-collections.azurewebsites.net/" target="_blank">Observable Collections</a>
    <a mat-list-item href="http://typescript-interfaces.azurewebsites.net/" target="_blank">TypeScript Interfaces</a>
</mat-nav-list>